{% load permissions %}

{% load django_bootstrap5 %}
<form method="post" enctype="multipart/form-data" id="create-comment">
    <fieldset>
        <legend>{% if form.instance.pk %}Edit{% else %}Add{% endif %} Comment</legend>
        {% if form.errors or formset.errors %}
            <div class="alert alert-danger">Please correct the errors below before submitting</div>
        {% endif %}
        {% csrf_token %}
        <div class="row">
            <div class="col-md-8">
                {% bootstrap_field form.body %}
            </div>
            <div class="col-md-4">
                {% if form.visibility %}
                    {% bootstrap_field form.visibility %}
                {% endif %}
            </div>
        </div>

        {% include '_images.html' %}
        <div class="row">
            <div class="col-md-10">
                <input type="hidden" name="submit_flag" value="{{ form.SUBMIT_FLAG }}" />
                {% bootstrap_button button_type="submit" content="Submit" class="btn btn-primary" %}
                {% if comment.pk %}
                    <a href="{% url 'reports-detail' comment.report.pk %}" class="btn btn-warning">Cancel</a>
                {% else %}
                    <button id="cancel-comment" class="btn btn-warning">Cancel</button>
                {% endif %}
            </div>
            {% if user|can_delete_comment:comment %}
                <div class="col-md-2">
                    <a href="{% url 'comments-delete' comment.pk %}" class="btn btn-danger pull-right">Delete</a>
                </div>
            {% endif %}
        </div>
    </fieldset>
</form>
