# Root
/.env
/builds
/dist
/node_modules
/media
/static
/volumes
/*.egg-info/
/.coverage
/trash

# Anywhere
__pycache__/
*.pyc
*.pyo

venv

# Secrets
docker/secrets/

# Other
*.swp

/frontend/dist
db.sql

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

/dashboard-demo