# Root
/.env
/builds
/dist
/node_modules
/media
/static
/volumes
/*.egg-info/
/.coverage
/trash

# Anywhere
__pycache__/
*.pyc
*.pyo

venv

# Secrets
docker/secret_key.txt
docker/db_password.txt
docker/google_api_key.txt
