[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://packages.wdt.pdx.edu/simple"
verify_ssl = true
name = "wdt"

[packages]
psu-oit-wdt-emcee = {version = "~=1.2.0.dev2", extras = ["aws"], index = "wdt" }
pytz = "*"
markdown = "~=3.8.2"
Pillow = "~=11.3.0"
Django = { version = "~=5.2.0", extras = ["argon2", "bcrypt"]}
psycopg2-binary = "~=2.9.0"
celery = "~=5.5.3"
uWSGI = "~=2.0.0"
gunicorn = "~=23.0.0"
djangorestframework = "~=3.16.0"
sentry-sdk = "~=2.35.0"
django-bootstrap5 = "~=25.2"
setuptools = "*"

[dev-packages]
coverage = "*"
flake8 = "*"
model_mommy = "*"
