[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-environ = "~=0.12.0"
pytz = "*"
markdown = "~=3.9.0"
Pillow = "~=12.0.0"
Django = { version = "~=5.2.0", extras = ["argon2", "bcrypt"]}
psycopg2-binary = "~=2.9.0"
celery = "~=5.5.3"
gunicorn = "~=23.0.0"
djangorestframework = "~=3.16.0"
django-bootstrap5 = "~=25.2"
sentry-sdk = "~=2.35.0"
setuptools = "~=80.9.0"
django-csp = "~=4.0"

[dev-packages]
coverage = "~=7.10.6"
model-bakery = "~=1.20.5"
ruff = "~=0.13.0"
django-types = "~=0.22.0"
celery-types = "~=0.23.0"
debugpy = "~=1.8.19"
