<div class="text-center">
    <ul class="pagination justify-content-center">
        <li class="page-item {% if not items.has_previous %}disabled{% endif %}">
            <a class="page-link" title="First page" aria-label="First page"
               {% if items.has_previous %}
                   href="{% add_get page=1 %}"
               {% else %}
                   href="#"
               {% endif %}>
                <span class="bi bi-chevron-double-left" aria-hidden="true"></span> First page
            </a>
        </li>
        

        <li class="page-item {% if not items.has_previous %}disabled{% endif %}">
            <a class="page-link" title="Previous page" aria-label="Previous page"
               {% if items.has_previous %}
                   href="{% add_get page=items.previous_page_number %}"
               {% else %}
                   href="#"
               {% endif %}>
                <span class="bi bi-chevron-left" aria-hidden="true"></span> Previous
            </a>
        </li>

        <li class="page-item {% if not items.has_next %}disabled{% endif %}">
            <a class="page-link" title="Next page" aria-label="Next page"
               {% if items.has_next %}
                   href="{% add_get page=items.next_page_number %}"
               {% else %}
                   href="#"
               {% endif %}>
                <span class="bi bi-chevron-right" aria-hidden="true"></span> Next
            </a>
        </li>

        <li class="page-item {% if not items.has_next %}disabled{% endif %}">
            <a class="page-link" title="Last page" aria-label="Last page"
               {% if items.has_next %}
                   href="{% add_get page=items.paginator.num_pages %}"
               {% else %}
                   href="#"
               {% endif %}>
                <span class="bi bi-chevron-double-right" aria-hidden="true"></span> Last page
            </a>
        </li>
    </ul>
    <div>
        {% if items.number %}
            Page {{ items.number }} of {{ items.paginator.num_pages }}
        {% endif %}
    </div>
</div>
