{% load django_vite %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="csrf-token" content="" />
        
        <title>Oregon Invasives Hotline</title>
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
        
        <link rel="stylesheet" nonce="{{csp_nonce}}" href="{% static 'css/main.css' %}">
        
        {% vite_hmr_client %}
        {% vite_react_refresh nonce=csp_nonce %}
        {% vite_asset 'src/main.tsx' %}
    </head>
    <body class="d-flex flex-column min-vh-100">
        {% include '_navbar.html' %}
        
        <!-- Unsure why but bootstrap flex doesn't seem to be working -->
        <main style="flex-grow: 1;" class="{% block main_class %}d-flex flex-column p-0 bg-hotline-green{% endblock %}">
            <div class="d-flex flex-column flex-grow-1">
        	    {% block inertia %}{% endblock %}
            </div>
        </main>
            
        {% include '_footer.html' %}
    </body>
</html>
