<!doctype html>

{% load django_vite %} {% load arc %} {% load permissions %} {% load static %}
{% load django_bootstrap5 %}

<html lang="en">
	<head>
		{% block head %} {% block meta %}
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		{% if TRACE_ID %}
		<meta name="sentry-trace" content="{{ TRACE_ID }}" />
		{% endif %} {% endblock %}

		<title>{% block title %}Oregon Invasives Hotline{% endblock %}</title>
		<link
			rel="shortcut icon"
			href="{% static 'img/favicon.ico' %}"
			type="image/x-icon"
		/>

		{% block css %}
		<link
			rel="stylesheet"
			nonce="{{request.csp_nonce}}"
			href="https://cdn.jsdelivr.net/combine/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css,npm/choices.js@11.1.0/public/assets/styles/choices.min.css"
		/>
		<link
			rel="stylesheet"
			nonce="{{request.csp_nonce}}"
			href="{% static 'css/main.css' %}"
		/>
		{% endblock %} 
		
		{% vite_hmr_client %}
    {% vite_asset 'main.tsx' %}
		{% endblock %}
	</head>

	<body>
		{% block inertia %}{% endblock %}
	</body>
</html>
